T_snow_mountain01_normal.uasset filter=lfs diff=lfs merge=lfs -text
T_asphalt_base_normal.uasset filter=lfs diff=lfs merge=lfs -text
T_asphalt_damaged_normal.uaaset filter=lfs diff=lfs merge=lfs -text
T_brick_standard_b_normal.uaaset filter=lfs diff=lfs merge=lfs -text
T_Bricks_a_normal.uaaset filter=lfs diff=lfs merge=lfs -text
T_bricks_b_normal.uaaset filter=lfs diff=lfs merge=lfs -text
T_bricks_b_v2_normal.uaaset filter=lfs diff=lfs merge=lfs -text
T_plaster_a_normal.uaaset filter=lfs diff=lfs merge=lfs -text
T_plaster_b_normal.uasset filter=lfs diff=lfs merge=lfs -text
T[[:space:]]chunkv[[:space:]]brick[[:space:]]normal.uaaset filter=lfs diff=lfs merge=lfs -text
